
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="/Student/Create" method="post">
    Name: <input type="text" name="Name" class="form_control"/><br />
    Dob: <input type="date" name="Dob" class="form_control"/><br />
    Gender: <input type="radio" name="Gender" value="Male"/> Male
    <input type="radio" name="Gender" value="Female"/> Female
    <input type="submit" value="Add" class="btn btn-primary"/><br />
</form>
