@model List<helloWorld.Models.Student>


@{
    ViewBag.Title = "List";
}
<table class="table table-condensed">
    <tr>
        <td>Name</td>
        <td>Id</td>
        <td>Dob</td>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Id</td>
            <td>@item.Dob</td>
        </tr>
    }
</table>     

